<!DOCTYPE html>
<html>

<head>
  <title>fetch/no-fetch</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- bootstrap -->
  <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  <!-- dropzone.js -->
  <script defer src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
  <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

  <!-- iziToast.js -->
  <script defer src="/lib/iziToast/js/iziToast.min.js"></script>
  <link rel="stylesheet" href="/lib/iziToast/css/iziToast.min.css">

  <script defer src="/script.js"></script>
  <link rel="stylesheet" href="/styles.css">

</head>

<body>

  <div class="container">

  {{{body}}}

  </div>

</body>


</html>